/**
 * Created by dillon.loubser on 10/24/23.
 */

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 0rem 0rem 1rem;
    height: auto;
    background-color: #fff;
    padding: 15px;
    width: 100%;
}

.quantity-button {
    width: 30px;
    height: 100%;
    border: none;
    background-color: rgb(16, 6, 159);
    color: #fff;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 30px;  /* Increased height for a better look */
    text-align: center;
    align-self: flex-end;
    border-radius: 5px;  /* Rounded corners */
}

.quantity-input {
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    /* border: none;  Removing the default border
    outline: none;  Removing the default outline */
}

.product-details-section {
    flex: 7;
    overflow: hidden;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-image-section {
    flex: 2;
    margin-right: 1rem;
}

.product-image {
    max-height: 200px;
    display: block;
    object-fit: contain;  /* This ensures the image scales properly */
}

.product-right-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-remove{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}